<section class="flexcol">
    <div class="note info">
        {{ localize (ifThen isGroup "ME5E.REST.Long.Hint.Group" "ME5E.REST.Long.Hint.Normal") }}
    </div>

    {{#if fields.length}}
    <fieldset>
        <legend>{{ localize "ME5E.REST.Configuration" }}</legend>
        {{> "me5e.fieldlist" fields }}
    </fieldset>
    {{/if}}

    {{#if hitPoints.length}}
    <fieldset>
        <legend>{{ localize "ME5E.HitPoints" }}</legend>
        {{> "me5e.fieldlist" hitPoints }}
    </fieldset>
    {{/if}}

    {{#if request}}
    {{> "systems/me5e/templates/actors/rest/rest-request.hbs" }}
    {{/if}}
</section>
