<form autocomplete="off" data-id="{{_id}}" data-type="{{type}}">
  {{> "me5e.advancement-controls"}}

  <ul class="ability-scores">
    {{> "me5e.advancement-ability-score-control" points canAdjust=true}}
    <li class="hint">
      {{localize "ME5E.AdvancementAbilityScoreImprovementPointsHint"}}
    </li>
    {{#each abilities}}
      {{> "me5e.advancement-ability-score-control" this canAdjust=true}}
    {{/each}}
  </ul>
</form>
