<div class="mod-container">
    <label>{{ this._value }}</label>
    <div class="mod-edit">
        <div class="mod-info">
            <input type="text" title="{{ localize 'ME5E.ModifierName' }}" data-type="name" value="{{ this.name }}" {{#if this.user}}name="data.modifiers.user.{{modType}}.{{index}}"{{else}}disabled{{/if}}/>

            <select title="{{ localize 'ME5E.ModifierType' }}" data-type="type" {{#if this.user}}name="data.modifiers.user.{{modType}}.{{index}}"{{else}}disabled{{/if}}>
              {{selectOptions types selected=this.type}}
            </select>
              {{# if this.user }}
            <a class="item-control item-delete" title='{{localize "ME5E.ItemDelete"}}'><i class="fas fa-trash"></i></a>
              {{/ if }}
        </div>
        <input type="text" title="{{ localize 'ME5E.Formula' }}" data-type="formula" value="{{ this._formula }}" {{#if this.user}}name="data.modifiers.user.{{modType}}.{{index}}"{{else}}disabled{{/if}}/>
    </div>
</div>