<div>
    {{ formField fields.onSave name=(concat prefix "onSave") value=data.onSave localize=true
                 label="ME5E.SAVE.FIELDS.effects.onSave.label" hint="ME5E.SAVE.FIELDS.effects.onSave.hint"
                 input=@root.inputs.createCheckboxInput rootId=@root.partId }}
    {{> "systems/me5e/templates/activity/parts/activity-effect-level-limit.hbs" }}
</div>
