<section>
    {{#each choices}}
    <fieldset class="traits card">
        <legend>{{ label }}</legend>
        {{> "me5e.traits-list" choices=children keyPath=(concat @root.keyPath ".value.") topLevel=true
            field=@root.checkbox input=@root.inputs.createCheckboxInput }}
    </fieldset>
    {{/each}}
    {{#if fields.custom}}
    <fieldset class="card">
        <legend>{{ localize "ME5E.Special" }}</legend>
        {{ formInput fields.custom value=data.custom }}
        <p class="hint">{{ localize "ME5E.SpecialHint" }}</p>
    </fieldset>
    {{/if}}
</section>
