<form class="{{cssClass}} flexcol" autocomplete="off">
{{!--    {{> "systems/me5e/templates/actors/parts/actor-warnings.html"}}--}}
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <section class="header-details">

            <div class="charSummary">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'ME5E.Name' }}"/>
                </h1>

                {{!-- Character Summary --}}
                <div class="summary">
                    {{#if species}}
                        <div class="item species">
                            <div class="item-name rollable">
                                <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                                <h4>
                                    {{species.name}}
                                </h4>
                            </div>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="{{localize 'ME5E.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'ME5E.ItemDelete'}}"><i class="fas fa-trash"></i></a>

                            </div>
                        </div>
                    {{/if}}
                    {{#if background}}
                        <div class="item background">
                            <div class="item-name rollable">
                                <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                                <h4>
                                    {{background.name}}
                                </h4>
                            </div>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="{{localize 'ME5E.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'ME5E.ItemDelete'}}"><i class="fas fa-trash"></i></a>

                            </div>
                        </div>
                    {{/if}}
                    <input type="text" name="data.details.alignment" value="{{data.details.alignment}}"
                           placeholder="{{ localize 'ME5E.Alignment' }}"/>
                    <span class="proficiency">{{ localize "ME5E.Proficiency" }} {{numberFormat data.attributes.prof decimals=0 sign=true}}</span>
                </div>
            </div>

            {{!-- Header Attributes --}}
            <div class="attributesBox">
                <div class="attribute health">
                    <h4 class="attribute-name box-title">{{ localize "ME5E.HitPoints" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                               placeholder="10" data-dtype="Number"/>
                        <span class="sep"> / </span>
                        <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                               placeholder="10" data-dtype="Number"/>
                    </div>
                    <footer class="attribute-footer">
                        <input name="data.attributes.hp.temp" type="text" class="temphp"
                               placeholder="+{{ localize 'ME5E.Temp' }}"
                               value="{{data.attributes.hp.temp}}" data-dtype="Number"/>
                        <input name="data.attributes.hp.tempmax" type="text" class="temphp"
                               placeholder="+{{ localize 'ME5E.Max' }}"
                               value="{{data.attributes.hp.tempmax}}" data-dtype="Number"/>
                    </footer>
                </div>

                <div class="attribute shield">
                    <h4 class="attribute-name box-title">{{ localize "ME5E.ShieldPoints" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.shl.value" type="text" value="{{data.attributes.shl.value}}" placeholder="0" data-dtype="Number"/>
                        <span class="sep"> / </span>
                        <label class="shield">{{data.attributes.shl.max}}</label>
                    </div>
                    <footer class="attribute-footer shield">
                        <span>{{ localize "ME5E.ShieldRegen" }}</span>
                        <span>{{numberFormat data.attributes.shl.regen decimals=0 sign=true}}</span>
                    </footer>
                </div>

                <div class="attribute hit-dice">
                    <h4 class="attribute-name box-title">
                        {{ localize "ME5E.HitDice" }}
                        <a class="config-button" data-action="hit-dice" title="{{localize 'ME5E.HitDiceConfig'}}"><i
                                class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value multiple">
                        <label class="hit-dice">{{data.attributes.hd}} <span class="sep"> / </span>
                            {{data.details.level}}</label>
                    </div>
                    <footer class="attribute-footer">
                        <a class="rest short-rest">{{ localize "ME5E.RestS" }}</a>
                        <a class="rest long-rest">{{ localize "ME5E.RestL" }}</a>
                    </footer>
                </div>

                <div class="attribute armor">
                    <h4 class="attribute-name box-title">
                        {{ localize "ME5E.ArmorClass" }}
                        <a class="config-button" data-action="armor" title="{{localize 'ME5E.ArmorConfig'}}"><i
                                class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value attributable" data-property="attributes.ac">{{data.attributes.ac.value}}</div>
                </div>

                <div class="attribute movement">
                    <h4 class="attribute-name box-title">
                        {{ localize "ME5E.Movement" }}
                        <a class="config-button" data-action="movement" title="{{localize 'ME5E.MovementConfig'}}"><i
                                class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value">
                        <span>{{movement.primary}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{movement.special}}</span>
                    </footer>
                </div>

                <div class="attribute initiative">
                    <h4 class="attribute-name box-title rollable" data-action="rollInitiative">{{ localize
                            "ME5E.Initiative" }}</h4>
                    <div class="attribute-value">
                        <span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{ localize "ME5E.Modifier" }}</span>
                        <input name="data.attributes.init.value" type="text" data-dtype="Number" placeholder="0"
                               value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"/>
                    </footer>
                </div>
            </div>

        </section>
    </header>

    {{!-- Character Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "ME5E.Attributes" }}</a>
        <a class="item" data-tab="inventory">{{ localize "ME5E.Inventory" }}</a>
        <a class="item" data-tab="features">{{ localize "ME5E.Features" }}</a>
        <a class="item" data-tab="spellbook">{{ localize "ME5E.Powers" }}</a>
        <a class="item" data-tab="effects">{{ localize "ME5E.Effects" }}</a>
        <a class="item" data-tab="biography">{{ localize "ME5E.Biography" }}</a>
        {{#unless isVehicle}}
            <a class="item config-button" data-action="flags" title="{{localize 'ME5E.SpecialTraits'}}"><i class="fas fa-cog"></i></a>
        {{/unless}}
    </nav>

    {{!-- Character Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores & Skills --}}
            {{> "systems/me5e/templates/actors/parts/actor-skills-scores.html"}}

            <section class="center-pane flexcol">
                <div class="resourceAttributes">
                    {{!-- Counters --}}
                    <div class="counters">
                        <div class="morals">
                            <div class="counter renegade">
                                <img src="systems/me5e/ui/Renegade.svg">
                                <div class="textContent">
                                    <h4>{{ localize "ME5E.Renegade" }}</h4>
                                    <input type="number" name="data.attributes.renegade" placeholder="0"
                                           value="{{data.attributes.renegade}}"/>
                                </div>
                            </div>
                            <div class="counter inspiration">
                                <h3>{{ localize "ME5E.Inspiration" }}</h3>
                                <div class="counter-value">
                                    <input id="inspiration" type="checkbox" name="data.attributes.inspiration" data-dtype="Boolean"
                                        {{checked data.attributes.inspiration}}/>
                                    <label for="inspiration"></label>
                                </div>
                            </div>
                            <div class="counter paragon">
                                <img src="systems/me5e/ui/Paragon.svg">
                                <div class="textContent">
                                    <h4>{{ localize "ME5E.Paragon" }}</h4>
                                    <input type="number" name="data.attributes.paragon" placeholder="0"
                                           value="{{data.attributes.paragon}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="theRest">
                            <div class="counter death-saves">
                                <h4 class="rollable" data-action="rollDeathSave">{{ localize "ME5E.DeathSave" }}</h4>
                                <div class="counter-value">
                                    <i class="fas fa-check"></i>
                                    <input name="data.attributes.death.success" type="number" placeholder="0"
                                           value="{{data.attributes.death.success}}"/>
                                    <i class="fas fa-times"></i>
                                    <input name="data.attributes.death.failure" type="number" placeholder="0"
                                           value="{{data.attributes.death.failure}}"/>
                                </div>
                            </div>
                            <div class="counter exhaustion">
                                <h4>{{ localize "ME5E.Exhaustion" }}</h4>
                                <div class="counter-value">
                                    <input name="data.attributes.exhaustion" type="number" placeholder="0"
                                           value="{{data.attributes.exhaustion}}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- Body Attributes --}}
                    <div class="attributesBox">
                        {{#each resources as |res|}}
                            <div class="attribute resource">
                                <h4 class="attribute-name box-title">
                                    <input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}"
                                           placeholder="{{res.placeholder}}"/>
                                </h4>
                                <div class="attribute-value">
                                    <label class="recharge checkbox flexcol">
                                        <span>{{ localize "ME5E.AbbreviationSR" }}</span><input
                                            name="data.resources.{{res.name}}.sr" type="checkbox" {{checked res.sr}}/>
                                    </label>

                                    <input name="data.resources.{{res.name}}.value" type="number" value="{{res.value}}"
                                           placeholder="0"/>
                                    <span class="sep"> / </span>
                                    <input name="data.resources.{{res.name}}.max" type="number" value="{{res.max}}"
                                           placeholder="0"/>

                                    <label class="recharge checkbox flexcol">
                                        <span>{{ localize "ME5E.AbbreviationLR" }}</span><input
                                            name="data.resources.{{res.name}}.lr" type="checkbox" {{checked res.lr}}/>
                                    </label>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>

                {{!-- Traits --}}
                {{> "systems/me5e/templates/actors/parts/actor-traits.html"}}
            </section>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/me5e/templates/actors/parts/actor-inventory.html" sections=inventory}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/me5e/templates/actors/parts/actor-features.html" sections=features}}
        </div>

        {{!-- Spellbook Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
            {{> "systems/me5e/templates/actors/parts/actor-spellbook.html"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/me5e/templates/actors/parts/active-effects.html"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab flexrow" data-group="primary" data-tab="biography">
            <div class="characteristics flexcol">
                <label>{{ localize "ME5E.Appearance" }}</label>
                <textarea name="data.details.appearance">{{data.details.appearance}}</textarea>
                <label>{{ localize "ME5E.PersonalityTraits" }}</label>
                <textarea name="data.details.trait">{{data.details.trait}}</textarea>
                <label>{{ localize "ME5E.Ideals" }}</label>
                <textarea name="data.details.ideal">{{data.details.ideal}}</textarea>
                <label>{{ localize "ME5E.Bonds" }}</label>
                <textarea name="data.details.bond">{{data.details.bond}}</textarea>
                <label>{{ localize "ME5E.Flaws" }}</label>
                <textarea name="data.details.flaw">{{data.details.flaw}}</textarea>
            </div>
            <div class="biography">
                {{editor content=data.details.biography.value target="data.details.biography.value" button=true
                owner=owner editable=editable rollData=rollData}}
            </div>
        </div>
    </section>
</form>
