<form autocomplete="off">
  <p class="notes">{{localize "ME5E.SkillConfigurationHint"}}</p>
  <div class="form-group">
    <label>{{ localize "ME5E.SkillAbility" }}</label>
    <select name="data.attributes.init.userAbility">
      {{selectOptions abilities selected=init.userAbility blank=(concat "Default (" (lookup abilities init.defaultAbility) ")")}}
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "ME5E.InitiativeBonus"}}</label>
    <input name="data.attributes.init.value" type="text" data-dtype="Number" value="{{numberFormat init.value decimals=0 sign=true}}" placeholder="0">
  </div>
  <hr>
  <div class="form-group">
    <label>{{localize "ME5E.BonusAbilitySkill"}}</label>
    <input name="data.bonuses.abilities.skill" type="text" value="{{bonusGlobal}}">
    <p class="notes">{{localize "ME5E.SkillGlobalBonusCheckHint"}}</p>
  </div>
  <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "Submit"}}</button>
</form>
